[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
speechrecognition = "*"
pynacl = "*"
wheel = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp39-cp39-win_amd64.whl"}
google-cloud-speech = "*"

[dev-packages]

[requires]
python_version = "3.9"
